a {
  text-decoration: none;
  background-color: rgb(208, 86, 181);
  color: black;
  border-radius: 999px;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  text-align: center;
  width: 100px;
}
a:hover {
  color: rgb(208, 86, 181);
  background-color: black;
}
a:active {
  color: aqua;
  background-color: red;
}
a:link {
  color: red;
  background-color: aqua;
}
a:visited {
  color: red;
  background-color: aqua;
}
a:empty {
  background-color: blue;
}
a:target {
  color: white;
  background-color: black;
}
