/* #doanVan2 {
  color: red;
  font-size: 20px;
}
h1 {
  color: blue;
}
.demo {
  background-color: aqua;
}
.demo2 {
  font-size: 50px;
}
.item_ul_2 {
  list-style: none;
} */
/* selector */
* {
  color: red;
}
h2,
p {
  color: blue;
}
